.formulario{
    background-color:rgba(199, 198, 198,0.5);
    margin: 20px 300px;
    border-radius: 10px;
}

.formularioDados{
    margin: 20px;
}

.butao{
    margin: 0 450px 10px;
}

.titulo{
    padding-top: 20px;
    color:rgb(58, 58, 75);
}