.formulario{
    background-color:rgba(199, 198, 198,0.4);
    margin: 30px 700px 0 60px;
    border-radius: 10px;
}

.formularioDados{
    margin: 20px;
}

.botao{
    margin: 0 350px 10px;
}

.titulo{
    padding-top: 20px;
    color:rgb(58, 58, 75);
}
.titulo1{
    padding-left: 20px;
    padding-top: 20px;
    color:rgb(58, 58, 75);
}

.fundoTabela{
    width: 70%;
    border-radius: 10px;
    background-color:rgba(199, 198, 198,0.4);
}

