* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    min-height: 100vh;
}

main {
    height: calc(100vh - 106px);
}

.fundoTabela{
    background-color:#1111;
    margin: 30px 700px 0 60px;
    border-radius: 10px;
}